    <footer>
        <div class="container">
            <div class="footer-content">
            

            </div>
            <hr>
            <p class="end">Nguyen Minh Hieu</p>
            <div class="footer-icon-link"
                <a href="https://www.facebook.com/hieuNguyen292/" class="footer-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/hieunm292" class="footer-icon"><i class="fab fa-github-alt"></i></a>
            </div>
            
        </div>
    </footer>